.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 20px;
  padding: 0 5px;

}
.menu__item {
  display: flex;
  flex-direction: column;
  box-shadow: var(--input-shadow);
  background-color: var(--bg_white);
  text-align: center;
  position: relative;
  color:var(--black);
  border-radius: 22px;
  padding: 12px;
  box-sizing: border-box;

}
.menu__item:not(.menu__item_horizontal) {
  width: 146px;
  height: 184px;


}
.menu__item_horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: calc(100% - 50px);
  min-height: 87px;
  top: 20px;
  right: 10px;
  left: 10px;
  bottom: 0;
}
.menu__image {
  border-radius: 10px;
}
.menu__image:not(.menu__image_horizontal) {
  position: absolute;
  top: 58px;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);


}
.menu__image_horizontal {
  width: 64px;
  height: 64px;

}